body {
    background-color:#A8DADB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #1D3557;
    margin: 0px;
    padding: 0px;
}

@font-face {
    src: url("font/inter1.woff");
    font-family:"Inter";
}

@font-face {
    src: url("font/josefinsans1.woff");
    font-family: "jose";
}

img {
    position: absolute;
    width: 5%;
    top: 175px;
    left: 902px;

}

/* textsize */

div.largetext {
    font-size: 48px;
    line-height: 58px;
}

div.extralargetext {
    font-size: 100px;
    line-height: 80px;
}

div.mediumtext {
    font-size: 30px;
    line-height: 45px;
}

div.smalltext {
    font-size: 12px;
    line-height: 22px;
}

div.text16 {
    font-size: 16px;
}

div.livescape {
    float: left;
    margin-right: 52px;
}

div.Inter {
    font-family: "Inter";
}

div.jose {
    font-family: "jose";
}

div.ml30 {
    margin-left: 30px;
}

/* textcolor */

div.fontwhite {
    color: #FFFFFF;
}

div.fontblue {
    color: #0449A6;
}

div.fontblack {
    color: #000;
}
/* textbackgroundcolor */
div.whitebg {
    background-color: #FFFFFF;
}

div.blackbg {
    background-color: #000;
}

div.darkbluebg {
    background-color: #213A5B;
}

div.bluebg {
    background-color: #A8DADB;
}

/* font&weight */

div.serif {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}


/* layout */

div.width33 {
    width: 33%;
}

div.width66 {
    width: 66%;
}

div.width100 {
    width: 100%;
}


div.ml200 {
    margin-left: 200px;
}

div.mr200 {
    margin-right: 200px;
}

div.mlauto {
    margin-left: auto;
}

div.mrauto {
    margin-right: auto;
}

div.ml0 {
    margin-left: 0px;
}

div.mr0 {
    margin-right: 0px;
}

div.mb50 {
    margin-bottom: 50px;
}

div.mb200 {
    margin-bottom: 200px;
}

div.mb30 {
    margin-bottom: 30px;
}

div.mb15 {
    margin-bottom: 15px;
}

div.mb3 {
    margin-bottom: 3px;
}

div.ls2 {
    letter-spacing: 2px;
}

div.ls-60 {
    letter-spacing: -60px;
}

div.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

div.now {
    font-size: 580px;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

div.textcenter {
    text-align: center;
}

div.rotatedtextleft {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(44deg) translate(470px, -20px)
    
}

div.rotatedtextright {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-70deg) translate(260px, 1375px)
}

div.fontsize14 {
    font-size: 14px;
}

div.container1 {
    position: relative;
}






/* line */

div.line60 {
    width: 1980px;
    height: 60px;
}

div.line50 {
    width: 1980px;
    height: 50px;
}

div.line40 {
    width: 1980px;
    height: 40px;
}

div.line30 {
    width: 1980px;
    height: 30px;
}

div.line20 {
    width: 1980px;
    height: 20px;
}

div.line10 {
    width: 1980px;
    height: 10px;
}